<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<log-files>
    <directory>\logs\</directory>
    <life-time>10</life-time>
    <doc-template>C:\Oracle\Middleware\Oracle_Home\user_projects\domains\webl_domain\logreader\xsl\doc.xsl</doc-template>
    <html-template>C:\Oracle\Middleware\Oracle_Home\user_projects\domains\webl_domain\logreader\xsl\html.xsl</html-template>
    <pdf-template>C:\Oracle\Middleware\Oracle_Home\user_projects\domains\webl_domain\logreader\xsl\pdf.xsl</pdf-template>
    <rtf-template>C:\Oracle\Middleware\Oracle_Home\user_projects\domains\webl_domain\logreader\xsl\rtf.xsl</rtf-template>
</log-files>
