<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="applicationLogFile" fileName="resources/logs/logreader.log">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="applicationLogFile"/>
        </Root>
    </Loggers>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="applicationLogFile"/>
        </Root>
    </Loggers>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="applicationLogFile"/>
        </Root>
    </Loggers>

</Configuration>